@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-infos {
  color: white;
}
.banner-infos > h2 {
  font-weight: 400;
  font-size: 1.5rem;
}
.banner-infos > p {
  font-weight: 400;
}
.logo > img {
  width: 15rem;
  margin: 0 auto;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.card-about {
  padding: 20px;
  // box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  // border-radius: 5px;
  // text-align: center;
  margin: 0;
}

.img-rounded {
  border-radius: 50%;
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}

.img-carousel {
  width: 80vw;
  object-fit: fill;
}

.img-skills {
  height: 3rem;
  margin: 1rem;
}

.fa-youtube {
  color: #ff0100;
}
.github {
  color: #000000;
}
.linkedin {
  color: #017bb6;
}
.envelope {
  color: #000000;
}

h1 h2 {
  font-family: "Roboto";
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

p {
  font-weight: 300;
}

i {
  font-size: 2rem;
  color: #ffffff;
  margin: 1rem 2rem;
}

a {
  text-decoration: none;
  color: #000000;
  opacity: 0.8;
}

video {
  width: 70%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  display: inline-block;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  opacity: 1;
}
/*Responsiveness*/
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .main-container {
    width: 100vw;
    min-width: fit-content;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .main-container {
    width: 100vw;
    min-width: fit-content;
  }
  #achievements {
    flex-direction: column;
  }
  #achievements > #achievement {
    flex: 0 1 auto;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .main-container {
    width: 100vw;
    min-width: fit-content;
  }
  #achievements {
    flex-direction: column;
  }
  #achievements > #achievement {
    flex: 0 1 auto;
  }
}
